input:focus, button:focus, select:focus {
    outline: 0;
}

button {
    cursor: pointer;
}

.brown-bordered-btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--light-brown);
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 20px;
}

.brown-bordered-btn:hover {
    background-color: var(--light-brown);
    color: white;
}

.white-btn {
    padding: 10px 15px;
    background-color: white;
    border: 2px solid white;
    max-width: 230px;
    transition: all 0.5s ease;
}

.white-btn:hover {
    background-color: black;
    color: white;
}

.text-input {
    background-color: var(--light-grey);
    border: 1px solid #d0d0d0;
    padding: 8px 15px;
    font-size: 20px; 
}

.black-btn {
    background-color: black;
    color: var(--light-brown);
    padding: 8px 15px;
    transition: all 0.5s ease;
}

.black-btn:hover {
    background-color: var(--light-brown);
    color: black;
}

.select-input, .number-input {
    border: 1px solid #d0d0d0;
    padding: 8px 15px;
    font-size: 20px;  
}
